body {
	background-color:#0b0b13;
}

.main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100px;
  height: 100%;
  display: none;
}

#navbar{
	color: #fff;	
}

.floor{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	text-align:center;
	display: none;
}


#logo{
	top: 50%;
	left: 50%;
	width: 450px;
	height: 450px;
	position: absolute;
	margin-top: -225px; 
	margin-left: -225px;
	display: none;
}

.button {
   border: 2px solid #f5f5f5;
   background: #191c1c;
   background: -webkit-gradient(linear, left top, left bottom, from(#090a0a), to(#191c1c));
   background: -webkit-linear-gradient(top, #090a0a, #191c1c);
   background: -moz-linear-gradient(top, #090a0a, #191c1c);
   background: -ms-linear-gradient(top, #090a0a, #191c1c);
   background: -o-linear-gradient(top, #090a0a, #191c1c);
   background-image: -ms-linear-gradient(top, #090a0a 0%, #191c1c 100%);
   padding: 4.5px 9px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ebeef0;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   -webkit-animation: pulsate 1.2s linear infinite;
   animation: pulsate 1.2s linear infinite;
   position: relative;
   display: inline-block;
   text-shadow: 0 -1px rgba(0,0,0,.1);
   outline: none;
   }
.button:hover {
   border: 2px solid #f5f5f5;
   text-shadow: #1e4158 0 1px 0;
   background: #19191a;
   background: -webkit-gradient(linear, left top, left bottom, from(#1d1e1f), to(#19191a));
   background: -webkit-linear-gradient(top, #1d1e1f, #19191a);
   background: -moz-linear-gradient(top, #1d1e1f, #19191a);
   background: -ms-linear-gradient(top, #1d1e1f, #19191a);
   background: -o-linear-gradient(top, #1d1e1f, #19191a);
   background-image: -ms-linear-gradient(top, #1d1e1f 0%, #19191a 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #191a1a;
   background: -webkit-gradient(linear, left top, left bottom, from(#2b2d2e), to(#19191a));
   background: -webkit-linear-gradient(top, #2b2d2e, #191a1a);
   background: -moz-linear-gradient(top, #2b2d2e, #191a1a);
   background: -ms-linear-gradient(top, #2b2d2e, #191a1a);
   background: -o-linear-gradient(top, #2b2d2e, #191a1a);
   background-image: -ms-linear-gradient(top, #2b2d2e 0%, #191a1a 100%);
   color: #fff;
   }
   
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}