@charset "utf-8";
html {
	background: #0b0b13;
	min-height: 100%;
	font-family: cinta;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	padding: 15px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
}

.rightcol { 
	width: 75%;
	position: absolute; /* Абсолютное позиционирование */
	top: 20px; /* Положение от верхнего края */
	right: 5%; /* Положение от правого края */
 /* Цвет фона */
	padding: 10px; /* Поля вокруг текста */
}

.box {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.box-base {
	min-height: 430px;
	font-size: 5rem;
	color: #eee;
	flex: auto;

	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-side {
	margin-left: 30px;
	display: -webkit-flex;
	display: flex;
	flex: 0 0 220px;
	flex-direction: column;
}
.box-itm {
	min-height: 200px;
	color: #eee;
	margin-bottom: 30px;
	flex: auto;
	flex-direction: column;
	border: 2px solid #c4c4c4;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-social{

	min-height: 100px;
	font-size: 3rem;
	color: #eee;
	flex: auto;
	margin-bottom: 30px;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail{
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex: inherit;
	flex-direction: column;
	justify-content: flex-start;
}

.box-mail {
	width: inherit;
	min-height: 50px;
	max-height: 50px;
	font-size: 100%;
	color: #eee;
	margin-bottom: 30px;
	flex: auto;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.box-text {
	width: inherit;
	min-height: 50px;
	font-size: 5rem;
	color: #eee;
	margin-bottom: 30px;
	flex: auto;
	border: 2px solid #c4c4c4;
	display: -webkit-flex;
	display: flex;
	align-content: flex-end;
}

.box-submit {
	width: 30%;
	height: 5%;
	font-size: 20px;
	color: #eee;
    align-self: flex-end;
	border: 2px solid #c4c4c4;
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	align-content: center;
}

.input-mail{
	width: 100%;
	height: 100%;
	background: #0b0b13;
	color: white;
	font-size: 40%
}

@media screen and (max-width: 800px) {
	.box-base {
		margin-bottom: 30px;
		flex: 0 1 100%;
	}
	.box-side {
		margin-left: 0;
		flex: 1 1 100%;
		flex-direction: row;
	}
	.box-itm {
		margin: 0 0 0 30px;
	}
	.box-social {
		margin: 0 0 0 30px;
	}
	.box-itm:first-child {
		margin-left: 0;
	}
	
}
@media screen and (max-width: 600px) {
	.box-side {
		flex-direction: column;
	}
	.box-itm {
		margin: 0 0 30px;
	}
	.box-social {
		margin: 0 0 0 0px;
	}
	.box-itm:last-child {
		margin-bottom: 0;
	}
}